body {
	width: 600px;
	margin: auto;
	font-family: sans-serif;
}
table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
.btn {
	width: 200px;
	margin: auto;
}
.bad {
	color: red;
}
.good {
	color: green;
}
.verybad {
	color: red;
	font-weight: bold;
}
.centered {
	text-align: center;
}