body {
	width: 1000px;
	margin: auto;
	font-family: sans-serif;
}
table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
.btn1 {
	width: 200px;
	margin: auto;
}
.btn2 {
	width: 400px;
	margin: auto;
}
.btn3 {
	width: 400px;
	margin: auto;
}
.bad {
	color: red;
}
.good {
	color: green;
}
.verybad {
	color: red;
	font-weight: bold;
}
.verygood {
	color: green;
	font-weight: bold;
}
.centered {
	text-align: center;
}
.gray {
	background-color: #DCDCDC;
}
.special-effect {
	font-weight: bold;
}